@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


#edit{
    cursor: pointer;
}

#date{
    background-color: rgb(141, 247, 141);
}
.txt{
    font-size: 45px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
}
.txt1{
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
}