
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');



.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 30px;
  overflow: hidden;  margin: 0;
  font-weight: 100;
  /* background: radial-gradient(#a23982,#1f1013); */
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #f2f2f2;
  padding-left: 10px;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.navLink {
  font-family: 'Lato', sans-serif;
  display: inline-block;
  /* color: #f2f2f2; */
  margin: 0;
  font-weight: 100;
  /* background: radial-gradient(#a23982,#1f1013); */
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #eee9e5;
}

